<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Nível de Tensão</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-body">    
      <div class="row">
          <div class="col-sm">
            
            <label for="typeahead-basic">QUAL HORÁRIO NORMALMENTE ACONTECE O PROBLEMA:</label>
            <div class="input-group mb-1">
              <input formControlName="HORARIO_PROBLEMA" type="time" class="form-control" aria-label="horaProblema"
                  aria-describedby="basic-addon1">
            </div>
           
            <label for="typeahead-basic">HOUVE ACRÉSCIMO DE CARGA INSTALADA:</label>
            <div class="input-group mb-1">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="s1">
                   <input class="form-check-input" type="radio" name="ACRESCIMO_CARGA" id="s1" value="SIM"
                   formControlName="ACRESCIMO_CARGA">
                  SIM
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="n1">
                  <input class="form-check-input" type="radio" name="ACRESCIMO_CARGA" id="n1" value="NÃO"
                  formControlName="ACRESCIMO_CARGA">
                  NÃO
                </label>
              </div>
            </div>

            <label for="typeahead-basic">LÂMPADAS QUEIMAM COM FREQUÊNCIA:</label>
            <div class="input-group mb-1">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="s2">
                   <input class="form-check-input" type="radio" name="LAMPADAS_QUEIMAM" id="s2" value="SIM"
                   formControlName="LAMPADAS_QUEIMAM">
                  SIM
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="n2">
                  <input class="form-check-input" type="radio" name="LAMPADAS_QUEIMAM" id="n2" value="NÃO"
                  formControlName="LAMPADAS_QUEIMAM">
                  NÃO
                </label>
              </div>
            </div>

            <label for="typeahead-basic">LÂMPADAS `PISCAM` CONTINUADAMENTE:</label>
            <div class="input-group mb-1">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="s3">
                   <input class="form-check-input" type="radio" name="LAMPADAS_PISCAM" id="s3" value="SIM"
                   formControlName="LAMPADAS_PISCAM">
                  SIM
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="n3">
                  <input class="form-check-input" type="radio" name="LAMPADAS_PISCAM" id="n3" value="NÃO"
                  formControlName="LAMPADAS_PISCAM">
                  NÃO
                </label>
              </div>
            </div>

            <label for="typeahead-basic">LÂMPADAS PERDEM A LUMINOSIDADE:</label>
            <div class="input-group mb-1">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="s4">
                   <input class="form-check-input" type="radio" name="LAMPADAS_FRACAS" id="s4" value="SIM"
                   formControlName="LAMPADAS_FRACAS">
                  SIM
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="n4">
                  <input class="form-check-input" type="radio" name="LAMPADAS_FRACAS" id="n4" value="NÃO"
                  formControlName="LAMPADAS_FRACAS">
                  NÃO
                </label>
              </div>
            </div>

            <label for="typeahead-basic">ELETRODOMÉSTICOS SE AUTO DESLIGAM:</label>
            <div class="input-group mb-1">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="s5">
                   <input class="form-check-input" type="radio" name="AUTO_DESLIGAM" id="s5" value="SIM"
                   formControlName="AUTO_DESLIGAM">
                  SIM
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="n5">
                  <input class="form-check-input" type="radio" name="AUTO_DESLIGAM" id="n5" value="NÃO"
                  formControlName="AUTO_DESLIGAM">
                  NÃO
                </label>
              </div>
            </div>

            <label for="typeahead-basic">OS VIZINHOS TEM PROBLEMA SEMELHANTE:</label>
            <div class="input-group mb-1">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="s6">
                   <input class="form-check-input" type="radio" name="PROBLEMA_VIZINHOS" id="s6" value="SIM"
                   formControlName="PROBLEMA_VIZINHOS">
                  SIM
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="n6">
                  <input class="form-check-input" type="radio" name="PROBLEMA_VIZINHOS" id="n6" value="NÃO"
                  formControlName="PROBLEMA_VIZINHOS">
                  NÃO
                </label>
              </div>
            </div>
            
            <label for="typeahead-basic">EXISTE VIZINHO QUE UTILIZA MOTOR, SOLDA, RAIO-X:</label>
            <div class="input-group mb-1">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="s7">
                   <input class="form-check-input" type="radio" name="VIZINHO_UTILIZA" id="s7" value="SIM"
                   formControlName="VIZINHO_UTILIZA">
                  SIM
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="n7">
                  <input class="form-check-input" type="radio" name="VIZINHO_UTILIZA" id="n7" value="NÃO"
                  formControlName="VIZINHO_UTILIZA">
                  NÃO
                </label>
              </div>
            </div>
            
            <label for="typeahead-basic">A ENERGIA ESTÁ OSCILANDO:</label>
            <div class="input-group mb-1">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="s8">
                   <input class="form-check-input" type="radio" name="ENERGIA_OSCILANDO" id="s8" value="FORTE"
                   formControlName="ENERGIA_OSCILANDO">
                  FORTE
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="n8">
                  <input class="form-check-input" type="radio" name="ENERGIA_OSCILANDO" id="n8" value="FRACA"
                  formControlName="ENERGIA_OSCILANDO">
                  FRACA
                </label>
              </div>
            </div>
            
            <label for="typeahead-basic">NESTE MOMENTO A INSTALAÇÃO ESTÁ SEM ENERGIA:</label>
            <div class="input-group mb-1">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="s9">
                   <input class="form-check-input" type="radio" name="SEM_ENERGIA" id="s9" value="SIM"
                   formControlName="SEM_ENERGIA">
                  SIM
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="n9">
                  <input class="form-check-input" type="radio" name="SEM_ENERGIA" id="n9" value="NÃO"
                  formControlName="SEM_ENERGIA">
                  NÃO
                </label>
              </div>
            </div>

            <div class="input-group mb-1">
              <input formControlName="PONTO_REFERENCIA" type="text" class="form-control" placeholder="PONTO DE REFERÊNCIA" aria-label="PONTO_REFERENCIA"
                  aria-describedby="basic-addon1">
            </div> 
            
            <!-- <label for="typeahead-basic">PONTO DE REFERÊNCIA:</label>
            <div class="input-group mb-1">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="s10">
                   <input class="form-check-input" type="radio" name="PONTO_REFERENCIA" id="s10" value="SIM"
                   formControlName="PONTO_REFERENCIA">
                  SIM
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="n10">
                  <input class="form-check-input" type="radio" name="PONTO_REFERENCIA" id="n10" value="NÃO"
                  formControlName="PONTO_REFERENCIA">
                  NÃO
                </label>
              </div>
            </div> -->

            <!-- <br>
            <div class="input-group mb-1">
              <input formControlName="SOLUCAO_PRETENDIDA" type="text" class="form-control" placeholder="SOLUÇÃO PRETENDIDA" aria-label="solucao"
                  aria-describedby="basic-addon1">
            </div> 
            -->

            <!-- <hr>

            <label for="typeahead-basic">Solicitante Deseja Receber Resposta da Solicitação por:</label>
            <div class="input-group mb-1">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="tel1">
                   <input class="form-check-input" type="radio" name="RECEBER_RESPOSTA" id="tel1" value="TELEFONE"
                   formControlName="RECEBER_RESPOSTA">
                  TELEFONE
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="email1">
                  <input class="form-check-input" type="radio" name="RECEBER_RESPOSTA" id="email1" value="E-MAIL"
                  formControlName="RECEBER_RESPOSTA">
                  E-MAIL
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="carta1">
                  <input class="form-check-input" type="radio" name="RECEBER_RESPOSTA" id="carta1" value="CARTA"
                  formControlName="RECEBER_RESPOSTA">
                  CARTA
                </label>
              </div>
            </div>

            <label for="typeahead-basic">Autorizou Terceiros para Receber a Resposta:</label>
            <div class="input-group mb-1">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="s12">
                   <input class="form-check-input" type="radio" name="AUTORIZOU_TERCEIROS" id="s12" value="SIM"
                   formControlName="AUTORIZOU_TERCEIROS">
                  SIM
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="n12">
                  <input class="form-check-input" type="radio" name="AUTORIZOU_TERCEIROS" id="n12" value="NÃO"
                  formControlName="AUTORIZOU_TERCEIROS">
                  NÃO
                </label>
              </div>
            </div>

            <div class="input-group mb-1">
              <input formControlName="TERCEIRO" type="text" class="form-control" placeholder="SE SIM, QUAL?" aria-label="terceiro"
                  aria-describedby="basic-addon1">
            </div> -->

        </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success"
        [disabled]="!myForm.valid">
        GERAR
      </button>
  </div>
</form>
