<div class="container">
	<div class="row pt-2">

		<div class="col-sm">
			<label for="typeahead-basic">Dados do Cliente:</label>
        <div class="input-group mb-1">
          <input #name type="text" class="form-control" placeholder="Nome" aria-label="name"
              aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-1">
          <input #account type="number" class="form-control" placeholder="Conta Contrato" aria-label="cont"
              aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-1">
          <input #phone type="tel" class="form-control" mask="000000000000" placeholder="Telefone" aria-label="phone"
              aria-describedby="basic-addon1">
        </div>  
    </div>

    <div class="col-sm">

      <ng-template #rtInfo let-r="result" let-t="term">
        <ngb-highlight [result]="r.titulo" [term]="t"></ngb-highlight>
      </ng-template>
    
      <div (click)="focusInfo()">
        <label for="info">Consultas:</label>
        <input placeholder="Buscar por Informação" [disabled]="infoFocus" id="info" type="text" class="form-control" [(ngModel)]="modelInfo" [ngbTypeahead]="searchInfo" [inputFormatter]="formatterInfo" [resultTemplate]="rtInfo"/>
        <div style="with:100%; text-align: right">
          <button class="btn btn-link" (click)="openModalBib('info', {name: name.value, account: account.value, phone: phone.value})">Biblioteca de Informações</button>
        </div>
      </div>

      <ng-template #rtOrder let-r="result" let-t="term">
        <ngb-highlight [result]="r.titulo" [term]="t"></ngb-highlight>
      </ng-template>
              
      <div (click)="focusOrder()">
        <!-- <label for="Order">Buscar por Pedido:</label> -->
        <input placeholder="Buscar por Pedido" [disabled]="orderFocus" id="Order" type="text" class="form-control" [(ngModel)]="modelOrder" [ngbTypeahead]="searchOrder" [inputFormatter]="formatterOrder" [resultTemplate]="rtOrder"/>
        <div style="with:100%; text-align: right">
          <button class="btn btn-link" (click)="openModalBib('order', {name: name.value, account: account.value, phone: phone.value})">Biblioteca de Pedidos</button>
        </div>
      </div>

      <ng-template #rtComplaint let-r="result" let-t="term">
        <ngb-highlight [result]="r.titulo" [term]="t"></ngb-highlight>
      </ng-template>
              
      <div (click)="focusComplaint()">
        <!-- <label for="Complaint">Buscar por Reclamação:</label> -->
        <input placeholder="Buscar por Reclamação" [disabled]="complaintFocus" id="Complaint" type="text" class="form-control" [(ngModel)]="modelComplaint" [ngbTypeahead]="searchComplaint" [inputFormatter]="formatterComplaint" (selectItem)="selectedItem($event, {name: name.value, account: account.value, phone: phone.value})" [resultTemplate]="rtComplaint"/>
        <div style="with:100%; text-align: right">
          <button class="btn btn-link" (click)="openModalBib('complaint', {name: name.value, account: account.value, phone: phone.value})">Biblioteca de Reclamaçõe</button>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col">
          <button (click)="clear(name, account, phone)" type="button" class="btn btn-outline-secondary">LIMPAR CAMPOS</button>
        </div>
        <div class="col-6">
            <button (click)="generate(name.value, account.value, phone.value)" type="button" class="btn btn-primary btn-block mb-3">GERAR</button>
        </div>
      </div>

      <div>
        
<br/>

      </div>
  
    </div>
          
    <div class="input-group p-1 m-1 block">
        <div style="width: 100%;">
          <p>Descrição: {{ subtitulo }} </p>
        </div>
        <textarea #message [(ngModel)]="copy" rows="12" class="form-control" aria-label="With textarea"></textarea>
        <div class="input-group-append">
            <button (click)="copyInputMessage(message)" class="btn btn-outline-secondary" type="button" id="button-addon2">COPIAR</button>
        </div>
    </div>

  </div>
</div>