<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Danos Elétricos</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-body">    
      <div class="row">
          <div class="col-sm">
            <p>DECLARA DANOS EM SEUS APARELHOS ELÉTRICOS</p>
            
            <label for="typeahead-basic">Data da Queima:</label>
            <div class="input-group mb-1">
              <input formControlName="DATA_QUEIMA" type="date" class="form-control" placeholder="DATA DA QUEIMA" aria-label="dataqueima" aria-describedby="basic-addon1">
            </div>
            
            <label for="typeahead-basic">Horário da Queima:</label>
            <div class="input-group mb-1">
              <input formControlName="HORA_QUEIMA" type="time" class="form-control" placeholder="HORÁRIO DA QUEIMA" aria-label="horaqueima"
                  aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-1">
              <input formControlName="APARELHO" type="text" class="form-control" placeholder="APARELHOS. EX: Geladeira, Televisão" aria-label="aparelho"
                  aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-1">
              <input formControlName="MARCA" type="text" class="form-control" placeholder="MARCA. EX: Brastemp, Consul" aria-label="marca"
                  aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-1">
              <input formControlName="MODELO" type="text" class="form-control" placeholder="MODELO" aria-label="modelo"
                  aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-1">
              <input formControlName="TEMPO_USO" type="text" class="form-control" placeholder="TEMPO DE USO" aria-label="tempouso"
                  aria-describedby="basic-addon1">
            </div>

            <label for="typeahead-basic">Data do Agendamento da Vistoria (CELPA):</label>
            <div class="input-group mb-1">
              <input formControlName="DATA_AGENDAMENTO" type="date" class="form-control" placeholder="DATA DO AGENDAMENTO DA VISTORIA (CELPA)" aria-label="dataagendamento"
                  aria-describedby="basic-addon1">
            </div>
 
            <hr>
           
            <label for="typeahead-basic">ANTENA PARABÓLICA:</label>
            <div class="input-group mb-1">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="s1">
                   <input class="form-check-input" type="radio" name="ANTENA_PARABOLICA" id="s1" value="SIM"
                   formControlName="ANTENA_PARABOLICA">
                  SIM
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="n1">
                  <input class="form-check-input" type="radio" name="ANTENA_PARABOLICA" id="n1" value="NÃO"
                  formControlName="ANTENA_PARABOLICA">
                  NÃO
                </label>
              </div>
            </div>

            <label for="typeahead-basic">TELEFONE FIXO:</label>
            <div class="input-group mb-1">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="s2">
                   <input class="form-check-input" type="radio" name="TELEFONE_FIXO" id="s2" value="SIM"
                   formControlName="TELEFONE_FIXO">
                  SIM
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="n2">
                  <input class="form-check-input" type="radio" name="TELEFONE_FIXO" id="n2" value="NÃO"
                  formControlName="TELEFONE_FIXO">
                  NÃO
                </label>
              </div>
            </div>

            <label for="typeahead-basic">ESTAVA CHOVENDO:</label>
            <div class="input-group mb-1">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="s3">
                   <input class="form-check-input" type="radio" name="ESTAVA_CHOVENDO" id="s3" value="SIM"
                   formControlName="ESTAVA_CHOVENDO">
                  SIM
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="n3">
                  <input class="form-check-input" type="radio" name="ESTAVA_CHOVENDO" id="n3" value="NÃO"
                  formControlName="ESTAVA_CHOVENDO">
                  NÃO
                </label>
              </div>
            </div>

            <label for="typeahead-basic">HAVIA EQUIPE TÉCNICA NO LOCAL:</label>
            <div class="input-group mb-1">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="s4">
                   <input class="form-check-input" type="radio" name="HAVIA_EQUIPE" id="s4" value="SIM"
                   formControlName="HAVIA_EQUIPE">
                  SIM
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="n4">
                  <input class="form-check-input" type="radio" name="HAVIA_EQUIPE" id="n4" value="NÃO"
                  formControlName="HAVIA_EQUIPE">
                  NÃO
                </label>
              </div>
            </div>

            <label for="typeahead-basic">ATINGIU OUTRAS RESIDÊNCIAS:</label>
            <div class="input-group mb-1">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="s5">
                   <input class="form-check-input" type="radio" name="OUTRA_RESIDENCIA" id="s5" value="SIM"
                   formControlName="OUTRA_RESIDENCIA">
                  SIM
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="n5">
                  <input class="form-check-input" type="radio" name="OUTRA_RESIDENCIA" id="n5" value="NÃO"
                  formControlName="OUTRA_RESIDENCIA">
                  NÃO
                </label>
              </div>
            </div>

            <br>
            
            <div class="input-group mb-1">
              <input formControlName="SOLUCAO_PRETENDIDA" type="text" class="form-control" placeholder="SOLUÇÃO PRETENDIDA" aria-label="solucao"
                  aria-describedby="basic-addon1">
            </div>


            <hr>

            <label for="typeahead-basic">Solicitante Deseja Receber Resposta da Solicitação por:</label>
            <div class="input-group mb-1">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="tel1">
                   <input class="form-check-input" type="radio" name="RECEBER_RESPOSTA" id="tel1" value="TELEFONE"
                   formControlName="RECEBER_RESPOSTA">
                  TELEFONE
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="email1">
                  <input class="form-check-input" type="radio" name="RECEBER_RESPOSTA" id="email1" value="E-MAIL"
                  formControlName="RECEBER_RESPOSTA">
                  E-MAIL
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="carta1">
                  <input class="form-check-input" type="radio" name="RECEBER_RESPOSTA" id="carta1" value="CARTA"
                  formControlName="RECEBER_RESPOSTA">
                  CARTA
                </label>
              </div>
            </div>

            <label for="typeahead-basic">Autorizou Terceiros para Receber a Resposta:</label>
            <div class="input-group mb-1">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="s7">
                   <input class="form-check-input" type="radio" name="AUTORIZOU_TERCEIROS" id="s7" value="SIM"
                   formControlName="AUTORIZOU_TERCEIROS">
                  SIM
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="n7">
                  <input class="form-check-input" type="radio" name="AUTORIZOU_TERCEIROS" id="n7" value="NÃO"
                  formControlName="AUTORIZOU_TERCEIROS">
                  NÃO
                </label>
              </div>
            </div>

            <div class="input-group mb-1">
              <input formControlName="TERCEIRO" type="text" class="form-control" placeholder="SE SIM, QUEM?" aria-label="TERCEIRO"
                  aria-describedby="basic-addon1">
            </div>

        </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success"
        [disabled]="!myForm.valid">
        GERAR
      </button>
  </div>
</form>
