<div style="height:100%" class="wrapper fadeInDown">
    <div id="formContent">
      <br>
        <div class="fadeIn first">
          <img src="https://raw.githubusercontent.com/Kleysonb/mask-sr/master/plano_fundo.png" id="icon" alt="User Icon" />
          
          <h2>MaskSR</h2>
        </div>
        
        <form>
            <input #name type="text" id="login" class="fadeIn second" name="login" placeholder="Nome do Colaborador">
            <input #tate type="text" id="password" class="fadeIn third" name="login" placeholder="TATE">
            <input (click)="submit(name.value, tate.value)" type="submit" class="fadeIn fourth" value="Confirmar">
        </form>
    </div>
</div>